  body{
    background-color: #24252A;
     font-family: 'Roboto', sans-serif;
  } 

  a 
  {
    color: white;
    text-decoration: none;
    font-size: 20px;
    line-height:15px;
    padding: 10% 10% 10% 10%;  
  }


    .MenuPrincipal{
      border: 2px solid lightslategray;
      border-radius: 5px; 
      list-style-type: none;
      align-content: center;
      text-align: center;
      width: 100%;
      display: inline-block;
      overflow: hidden;
      background-color:#8080;
      color: black;/*#8080;*/
      font-weight: 200;
    }    

        .MenuPrincipal a:hover{
          background-color: rgb(92, 91, 91);
          padding: 10% 10% 10% 10%;  
          border-radius:20px ;
        } 

  .Footer{
      /* //border: 2px inset   lightslategray; */
      background-color: #696969;
      color: #474A51;
      text-align: center;
      align-self: end;
      align-content: stretch;
      justify-self: stretch; 
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      position: fixed;
  }
  
  h1{
    color: lightgray;
    font-size: 16px;
    font-weight: 300;
  } 
  h2{
    color: darkgray;
    font-size: 12px;
    font-weight: 200;
  } 
  h3{
    color: darkgray;
    font-size: 10px;
    font-weight: 100;
  }
